/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: sans-serif;
}

h1 {
    color: #FFFFFF;
    background-color: #0a1172;
    padding: 10px; 
    border: 2px solid #ff0000; 
    display: inline-block; 
  }
