/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: aliceblue;
}

#top {
  color: aliceblue; 
  background-color: rgb(10, 17, 114); 
  padding: 10px; 
  border: 2px solid black; 
  text-align: center; 
}

h4 {
  color: rgb(10, 17, 114);
  border-bottom: 2px solid rgb(10, 17, 114);
}

#tagline {
  font-style: italic;
}
