/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: sans-serif;
}

h1 {
  color: white;
  background-color: rgb(10, 17, 114);
  padding: 10px; 
  border: 2px solid black; 
  display: inline-block; 
  text-align: center; 
}
